@charset "UTF-8";

html {
    max-width: 100%;
    min-height: 100%;
}

body {
background-color:#5694EA;
background: #5694EA url(../images/fundo.jpg) repeat-x 0px 0px;
font-size-adjust: 100%;
color: #2F325B;
}

h1 {
font-size: 2em;
font-weight: normal;
margin: 0 0 .5em 0;
}

h2 {
font-size: 1.7em;
margin: 0 0 1em 0; }

h3 {
font-size: 1.5em;
margin: 0 0 1em 0; }

p { margin: 0 0 .75em 0; }

.pagina {
max-width: 980px;
margin: 0px auto 0px auto;
background-color: rgb(255,255,255);
}

.destaque {
width: 33%;
float: left;
background-color: #FFF;
}

.destaque.um { background-image: url(../images/destaque_01_100x100.jpg); }
.destaque.dois { background-image: url(../images/destaque_02_100x100.jpg); }
.destaque.tres { background-image: url(../images/destaque_03_100x100.jpg); width: 34%; }
.destaque { background-repeat: no-repeat;}
.destaque h2 {
font-weight: 1.1em;
margin: 0px;
}

.destaque p{
line-height: 1.2em;
font-size: .9em;
margin-bottom: .5em;
}

