@charset "UTF-8";

h1 {
    background-color: yellow;
    color: yellow;
}

p {
    color: rgb(250, 66, 158);
    font-size: auto;
}

figure {
    float: left;
    margin: 0 10px 10px 0;
}

img {
    max-width: 60px;
}


h2, aside {
    color: red;
    background-color: red;
}

h3, footer {
    color: aqua;
    background-color: aqua;
}

main {
    background-color: greenyellow;
}

@media screen and (max-width: 500px) {
    
footer {
    display: flex;
    position: absolute;
    flex-direction: row ;
}

}