@charset "UTF-8";

h1 {
    background-color: yellow;
    color: yellow;
}

p {
    color: rgb(250, 66, 158);
    font-size: auto;
}

figure {
    float: left;
    margin: 0 10px 10px 0;
  }

img {
    max-width: 60px;
}


h2, aside {
    color: red;
    background-color: red;
    float: right;
    margin: 0 10 0 10;
}

h3, footer {
    color: aqua;
    background-color: aqua;
}

main {
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
}


    @media screen and (max-width:780px) {
    
    h1 {
        background-color: yellow;
        color: yellow;
    }
    
    p {
        color: rgb(250, 66, 158);
        font-size: 15px;
    }
    
    article {
        background-color: greenyellow;
        display: flex;
        flex-direction: row;
    }
    
    img {
        height: 50px;
    }
    
    h2, aside {
        color: red;
        background-color: red;
    }
    
    h3, footer {
        color: aqua;
        background-color: aqua;
    }

    main {
        background-color: greenyellow;
        display: flex;
        flex-direction: column;
    }
}

    @media screen and (max-width:550px) {
    
        h1 {
            background-color: yellow;
            color: yellow;
        }
        
        p {
            color: rgb(250, 66, 158);
            font-size: 15px;
        }
        
        article {
            background-color: greenyellow;
            display: flex;
            flex-direction: row;
        }
        
        img {
            height: 50px;
        }
        
        h2, aside {
            color: red;
            background-color: red;
        }
        
        h3, footer {
            color: aqua;
            background-color: aqua;
        }
    
        main {
            background-color: greenyellow;
            display: flex;
            flex-direction: column;
        }
    }

    @media screen and (max-width:320px) {
    
           h1 {
        background-color: yellow;
        color: yellow;
    }
    
    p {
        color: rgb(250, 66, 158);
        font-size: 15px;
    }
    
    article {
        background-color: greenyellow;
        display: flex;
        flex-direction: row;
    }
    
    img {
        height: 50px;
    }
    
    h2, aside {
        color: red;
        background-color: red;
    }
    
    h3, footer {
        color: aqua;
        background-color: aqua;
    }

    main {
        background-color: greenyellow;
        display: flex;
        flex-direction: column;
    }
}